*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  /* font-size: 20px; */
  font-weight: 800;
  font-size: 30px;
}

.heading{
  display: flex;
  justify-content: center;
  font-family: 'Changa', sans-serif;
  letter-spacing: 3px;
  font-size: 30px;
  font-weight: 500;
  padding: 0 5px;
  /* margin-bottom: 10px; */
  /* background: linear-gradient(
    to bottom,
    transparent 50%,
    #fce041 100%
  ); */
}

.outerContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.outerBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 500px;
  height: 700px;
  background-color: rgb(72,90,100);
  border-radius: 5%;
  box-shadow: 0px 10px rgb(53,71,81), 25px 35px rgb(222,222,222);
}

.display{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 420px;
  height: 110px;
  background-color: rgb(221,237,200);
  border-radius: 10px;
  margin-top: 55px;
  box-shadow: 0px 8px 10px 10px rgb(57,73,75), inset 0px 0px 8px 2px rgb(194,204,180);
}

#prevNumDisplay{
  font-family: 'Tektur', sans-serif;
  font-weight: 300;
  padding: 10px 10px 0 10px;
}

#currentNumDisplay{
  font-family: 'Tektur', sans-serif;
  padding: 0 10px;
  font-size: 50px;
  font-weight: 500;
}

.numbers{
  display: flex;
  flex-direction: column;
}

.upperPortion{
  margin: 40px 40px 0 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.lowerPortion{
  display: flex;
  margin: 20px 50px 0 50px;
  gap: 40px;
  justify-content: center;    
}

.divideOne{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.divideColumn1, .divideColumn2{
  display: flex;
  justify-content: center;    
  gap: 40px;
}

.number, #equals, #C, #B{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  background-color: rgb(243,241,244);
  border-radius: 5px;
  cursor: pointer;
  color: rgb(51,60,65);
  box-shadow: 0px 5px rgb(188,199,189);
}

#cat{
  font-size: 15px;
}

#equals{
  color: rgb(255,254,255);
  height: 160px;
  background-color: rgb(251,172,43);
  box-shadow: 0px 5px rgb(201,121,10);
}